

#Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c60fc;
  padding: 15px 30px;
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

#navbuttons
{
    gap:20px;
    display:flex;
    color: rgb(255, 0, 0);
}


